<html>
<head>
	<title>Créer un nouveau potin</title>
</head>

<body>
	<h1>Editer le potin <%= id %></h1>
	<form action="/gossips/<%= id %>/edit/" method="POST">
		Entre ton nom : <input typer="text" name="gossip_author"/><br/>
		Entre ton potin : <input type="text" name="gossip_content"/><br/>
		<input type="submit"/>
	</form>
</body>

</html>